.banner {
  background-image: url(../../../../asset/image/Group\ 162.png);
  padding: 174px 0 103px 0;
}
.banner-text {
  text-align: center;
}
.banner .MuiTypography-h4 {
  max-width: 574px;
  text-align: center;
  margin-bottom: 28px;
}
